body {
    background-color: #ff6600; /* rescue orange */
}

.navbar-inverse {
    background-color: #2AC0D8; /* sky blue */
}

hr {
    /*color: #f00;*/
    background-color: white;
    height: 3px;
}